{% extends 'base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col"></div>
    <div class="col-6">
        <table class="table text-center">
            <thead>
            <tr>
                <th scope="col">UserName</th>
                <th scope="col">Un/Follow</th>
                <th scope="col">Follower</th>
                <th scope="col">Following</th>
            </tr>
            </thead>

            <tbody>
            {% for object in object_list %}
            <tr>
                <td>{{object.username}}</td>
                <td><a href="" class="btn btn-xs btn-outline-success">Follow</a></td>
                <td>{{object.follower.all.count}}</td>
                <td>{{object.following.all.count}}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col"></div>
</div>
{% endblock %}